<?xml version="1.0" ?>
<config>
    <default>
        <general_ignored_uri_list>
            <table_config><![CDATA[anasstouaticoder_sitemap/general/ignored_uri_list]]></table_config>
            <field_list>
                <item1>
                    <name>uri</name>
                    <type>text</type>
                    <label><![CDATA[URI Value]]></label>
                    <required>1</required>
                </item1>
                <item2>
                    <name>uri_type</name>
                    <type>select</type>
                    <option_list><![CDATA[\AnassTouatiCoder\SitemapRemoveItem\Model\Source\URIType]]></option_list>
                    <label><![CDATA[URI Type]]></label>
                    <required>1</required>
                </item2>
            </field_list>
        </general_ignored_uri_list>
    </default>
</config>
