<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2022
 * MIT License
 * Module AnassTouatiCoder_SitemapRemoveItem
 * Author Anass TOUATI anass1touati@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="anasstouaticoder_sitemap" translate="label" type="text" sortOrder="200" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>SiteMap</label>
            <tab>anass_Touati_coder</tab>
            <resource>AnassTouatiCoder_SitemapRemoveItem::anasstouaticoder_sitemapremoveitem</resource>
            <group id="general" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="ignored_uri_list" translate="label,comment" sortOrder="100" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>URLs to remove from Sitemap</label>
                    <frontend_model>AnassTouatiCoder\Base\Block\Adminhtml\Form\FieldArray</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment><![CDATA[
                    <p>To remove unwanted URLS from Sitemap</p>
                    <p>Make sure to select URI Match Type that you needed:
                         Contains removes one or more rows, Equals removes one row).
                    </p>
                    <ul>
                        <li>Use case 1: URI => women/tops-women URI Match Type => Contains</li>
                        <li>Use case 2: URI => men/bottoms-men/pants-men.html URI Match Type => Equals</li>
                    </ul>
                    <p>There are two ways to configurate this field:</p>
                    <ol>
                        <li>Fill the table above then click Save Config button.</li>
                        <li>Use export, and import Buttons.</li>
                    </ol>
                    <p>
                        <span style="color:red;">Note</span>: if want to change existing list
                        items you should export the existing list as CSV file then modify it finally import the CSV
                        file.
                    </p>
                    ]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
